@page "/"
@using BootstrapBlazorApp1_freesql.Models

<h3>Table 表格</h3>

<Table TItem="Item"
       Items="@dataService.items"
       IsStriped="true"
       IsBordered="true"
       RenderModel="TableRenderModel.Auto"
       ClickToSelect="true"
       ShowDefaultButtons="true"
       ShowDeleteButton="true"
       DoubleClickToEdit="true"
       OnResetSearchAsync="@OnResetSearchAsync"
       OnQueryAsync="@OnEditQueryAsync"
       OnAddAsync="@OnAddAsync"
       OnSaveAsync="@OnSaveAsync"
       OnDeleteAsync="@OnDeleteAsync"
       ShowToolbar="true"
       IsPagination="true"
       PageItemsSource="@PageItemsSource"
       ShowSearch="true"
       ShowExtendButtons="true"
       SearchModel="@SearchModel"
       AutoGenerateColumns="true">
</Table>