@page "/"
@using BootstrapBlazorApp1_freesql.Models

<h3>Table 表格</h3>

<h4>常用于单表维护，通过属性配置实现简单的增、删、改、查、排序、过滤、搜索等常用功能，通过 <code>Template</code> 的高级用法能实现非常复杂的业务需求功能</h4>

<Table TItem="Item"
       Items="@dataService.items"
       IsStriped="true"
       IsBordered="true"
       RenderModel="TableRenderModel.Auto"
       ClickToSelect="true"
       ShowDefaultButtons="true"
       ShowDeleteButton="true"
       DoubleClickToEdit="true"
       OnResetSearchAsync="@OnResetSearchAsync"
       OnQueryAsync="@OnEditQueryAsync"
       OnAddAsync="@OnAddAsync"
       OnSaveAsync="@OnSaveAsync"
       OnDeleteAsync="@OnDeleteAsync"
       ShowToolbar="true"
       IsPagination="true"
       PageItemsSource="@PageItemsSource"
       ShowSearch="true"
       ShowExtendButtons="true"
       SearchModel="@SearchModel"
       AutoGenerateColumns="true">
</Table>